@charset "UTF-8";

body {
	margin: 0;
}

h1, h2 {
	margin: 0;
}

a {
	color: gray;
}

a:visited {
	color: gray;
}

header {
	text-align: center;
	height: 100%;
	position: sticky;
}

hr {
	color: #aaa;
}

main {
	display: flex;
	justify-content: space-between;
	margin: 2%;
	height: 80vh;
}

article {
	margin: 0 2%;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
}

.no-border {
	border: none;
}

th, td {
	border: solid 1px #aaa;
	padding: 5px 8px;
}

.errMsg {
	color: red;
}

aside {
	text-align: left;
	width: 35%;
}

footer {
	position: sticky;
	bottom: 0;
}