@charset "UTF-8";

body {
	margin: 0;
	text-align: center;
}

h1, h2 {
	margin: 0;
}

header {
	text-align: center;
	height: 100%;
	position: sticky;
}

hr {
	color: #aaa;
}

main {
	display: flex;
	justify-content: space-between;
	margin: 2%;
	height: 80vh;
}

ul {	
}

li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
}

.no-border {
	border: none;
}

th, td {
	border: solid 1px #aaa;
	padding: 5px 8px;
}

aside {
	text-align: left;
	width: 30%;
}

footer {
	position: static;
	bottom: 0;
}